/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-06-15, 19:51:26
    Author     : krejz_000
*/

body,html{
  width:100%;
      margin:0;
    padding:0;
    /* min-width: 1140px;  this is the important part*/
}

.dania_list{ width: 100%; padding: 4px; }
.dania_list tr:first-child td{ background-color: #555; color: #ffffff; font-weight: bold;}
.dania_list td{ 
    border-bottom: 1px solid black;
    border-right: 1px solid #cccccc;
    padding-top: 5px;
    height: 30px;
}
.dania_list.small td{ font-size: 11px; height: 20px;}

.dania_list td:last-child{ border-right: 0px solid black; }

a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}

.auction_table td{
    background-color:#333333;
    color:white;
}

body{
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #444444;
    font-size: 13pt;
	background: url(kalafior.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	
}

.main_box_containter{
    
    
}

button.css3button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #474747;
	padding: 4px 18px;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#cccccc);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffffff),
		to(#cccccc));
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #cccccc;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 0px rgba(255,255,255,0);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 0px rgba(255,255,255,0);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 0px rgba(255,255,255,0);
	text-shadow:
		0px 0px 0px rgba(255,255,255,0),
		0px 0px 0px rgba(255,255,255,0);
}

.main_window_container{
	padding:20px 0px 20px 0px;
	/*
        background-color:rgba(255, 255, 255, 0.9);
	*/
        }
.box_main_include2{
 	background-color:rgba(199, 199, 199, 0.9);
	min-height:120px;
	text-align: justify;
        padding:10px 15px 5px 15px;
	display:inline-block;
	min-width:300px;
	margin:0px 10px 0px 520px;
	vertical-align: top;   
}
.box_main_include{
 	background-color:rgba(255, 255, 255, 0.9);
	min-height:120px;
	text-align: justify;
	padding:20px 15px 30px 15px;
	display:inline-block;
	min-width:300px;
	margin:0px 10px 0px 0px;
	vertical-align: top;   
}
#container_title{font-family: 'Pacifico', cursive; font-size:30px; text-align:left;}

.main_menu{
    margin-top:20px;
}

.main_text_container{
	margin-top:20px;
	text-shadow: 0px 2px 3px #555;
		text-align: center;
	color: #222;
}

.cudowny { font: 70px Tahoma, Helvetica, Arial, Sans-Serif;}
.cudowny_small{ font: 25px Tahoma, Helvetica, Arial, Sans-Serif; 
padding:6px 12px 6px 12px; } 


.main_menu ul {

    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}


.main_menu{
  margin-bottom:4px;
}

.main_menu a {

    min-width: 6em;
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px 10px;
   
}

.main_menu a:hover {
    background-color: whitesmoke;
}

.main_menu li {
    display: inline;
}